
	</div>
	<style type="text/css">
		.admin{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
    		height: 100%;
		}
		.admin>.right-model{
			flex: 1;
		}
	</style>
</body>
</html>