<!--footer-->
	<div class="footer item">
		<div class="container">
			<div class="information">
				<p></p>
			</div>
			<div class="wechat-code">
				<p>微信扫描二维码</p>
				<img src="/img/wechatcode.jpg" alt="">

			</div>
		</div>
		<div class="container">
			<p class="copyright">地　址：福建省厦门市湖里区兴隆路72号海西工业设计中心112<br> copyright © 备案信息xxxxxxxxxxx</p>
		</div>
	</div>
</body>
</html>