<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="copyright" content="屋檐燕窝">
	<meta name="keywords" content="屋檐官网，屋檐燕窝，屋檐语燕，即食燕窝，燕窝，干燕窝，燕窝品牌，燕盏">
	<meta name="description" content="屋檐燕窝，时光沉淀而出的粹养燕窝，正品保障，即食燕窝，燕窝，干燕窝，燕窝品牌，燕盏,屋檐燕窝版权所有，转载请注明出处
	">
	<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
	<title>屋檐燕窝|独立女性的如燕生活~</title>
	<link rel="shortcut icon" type="images/x-icon" href="/img/favicon.png">
	<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
	
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/m_style.css">
	<link rel="stylesheet" type="text/css" href="/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/css/dataurl.css">
	<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
	<!-- header -->
	<div class="header item">
		<div class="container">
			<div class="logo"><a href="/"><img class="m_hide" src="/img/logo_1.png" alt="屋檐"><img class="p_hide" src="/img/logo_1.png" alt=""></a></div>
			<div class="navs">
				<ul>
					<li><a href="/">首页</a></li>
					<li><a href="/">即食燕窝</a></li>
					<li><a href="/">干燕窝</a></li>
					<li><a href="/posts">品牌故事</a></li>
				</ul>
			</div>
			<div class="shop-nav">
				<div class="iconfont icon-shouye"></div>
				<a target="_blank" class="iconfont icon-taobao iconfont-small" href="https://shop256398224.taobao.com/shop/view_shop.htm?spm=a230r.1.14.20.27c20a79urXdSD&user_number_id=3236591940"></a>
				<!--<a target="_blank" class="iconfont icon-jingdong iconfont-small" href=""></a>-->
			</div>
			<div class="navs_btn">
				<!-- <i class="iconfont icon-jingdong"></i> -->
				<span class="line top"></span>
				<span class="line mid"></span>
				<span class="line btm"></span>
			</div>
		</div>
	</div>