<%- include('components/header') %>
<!-- banner -->
	<div class="banner">
		<script type="text/javascript" src="js/swiper-3.4.2.jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css">
		<div class="swiper-container ban-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/home/ban-01.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/home/ban-02.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/home/ban-03.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/home/ban-04.jpg" alt="">
				</div>
			</div>
			<div  class="ban-pagination swiper-pagination"></div>
		</div>
		<script type="text/javascript">
			var banSwiper = new Swiper('.ban-swiper-container',{
				autoplay: 2000,
				pagination : '.ban-pagination',
			});
		</script>
	</div>
	<!--店铺链接-->
	<div class="item shop">
		<div class="container">
			<ul class="cm-list clearfloat">
				<li class="cm-item">
					<div class="cm-fra">
						<div class="cm-type">
							即食燕窝
						</div>
						<div class="cm-der">粹养 真实之美</div>
						<a target="_blank" class="cm-href" href="https://shop256398224.taobao.com/category-1355224442.htm?spm=a1z10.1-c-s.w5001-17502927603.4.7a71f3b0S6n6i3&search=y&catName=%BC%B4%CA%B3%D1%E0%CE%D1&scene=taobao_shop">进去看看</a>
					</div>
				</li>
				<li class="cm-item">
					<div class="cm-fra">
						<div class="cm-type">
							溯源即炖燕窝
						</div>
						<div class="cm-der">粹养 真实之美</div>
						<a target="_blank"  class="cm-href" href="#">进去看看</a>
					</div>
				</li>
				<li class="cm-item">
					<div class="cm-fra">
						<div class="cm-type">
							素燕
						</div>
						<div class="cm-der">粹养 真实之美</div>
						<a target="_blank"  class="cm-href" href="#">进去看看</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 标语 -->
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<div class="item">
		<div class="container">
			<img width="100%" src="img/home/tex.jpg" alt="">

		</div>
	</div>
	<!-- 详情 -->
	<div class="item details">
		<div class="container">
			<div class="details-item details-item1 clearfloat">
				<img class="details-img fl" src="img/home/details-ill-0.jpg" alt="">
				<div class="details-text">
					<div class="tit"><span class="f-color">屋檐</span>即食燕窝</div>
					<div class="tag"><span class="f-color f-big">粹养</span> 真实之美</div>
					<div class="der">
						从印度尼西亚到人口鲜香，清润可口，软糯刚好，不负这一场千里采食。<br>你吃到的每一口，都有浓浓的故事。
					</div>
					<a target="_blank" class="href" href="https://shop256398224.taobao.com/category-1355224442.htm?spm=a1z10.1-c-s.w5001-17502927603.4.7a71f3b0S6n6i3&search=y&catName=%BC%B4%CA%B3%D1%E0%CE%D1&scene=taobao_shop">了解详情</a>
				</div>
			</div>
			<div class="details-item details-item2 clearfloat">
				<img class="details-img fr" src="img/home/details-ill-1.jpg" alt="">
				<div class="details-text">
					<div class="tit"><span class="f-color">屋檐</span>即食燕窝</div>
					<div class="tag"><span class="f-big">粹养</span><span class="f-color"> 真实之美</span></div>
					<div class="der">
						从印度尼西亚到人口鲜香，清润可口，软糯刚好，不负这一场千里采食。<br>你吃到的每一口，都有浓浓的故事。
					</div>
					<a target="_blank" class="href" href="https://shop256398224.taobao.com/category-1355224442.htm?spm=a1z10.1-c-s.w5001-17502927603.4.7a71f3b0S6n6i3&search=y&catName=%BC%B4%CA%B3%D1%E0%CE%D1&scene=taobao_shop">了解详情</a>
				</div>
			</div>
		</div>
		
	</div>
	<div class="item strict-selection">
		<h2><img src="img/home/str-tit.png" alt="严选燕盏"></h2>
		<div class="container">
			<div class="content clearfloat">
				<div class="ill-img fr">
					<img src="img/home/home-illustration.png" alt="">
				</div>
				<div class="text fl">
					<img src="img/home/str-text.png" alt="粹养燕窝">
				</div>
				
			</div>
		</div>
		
	</div>
	<!--ensure-->
	<div class="item ensure">
		<div class="container">
			<div class="ensure-logo"><img src="img/home/ensure-logo.png" alt=""></div>
			<div class="ensure-item">
				<ul class="clearfloat">
					<li>
						<i class="icon iconfont icon-zan"></i>
						<p class="ensure-name">线上专柜</p>
					</li>
					<li>
						<i class="icon iconfont icon-dunpai1"></i>
						<p class="ensure-name">品质保障</p>
					</li>
					<li>
						<i class="icon iconfont icon-shandian"></i>
						<p class="ensure-name">闪电发货</p>
					</li>
					<li>
						<i class="icon iconfont icon-baozhang1"></i>
						<p class="ensure-name">源头保障</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
<%- include('components/footer') %>